{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Display a paragraph: If there are no cars yet-->
    {% if not cars %}
        <p class="no-articles">No cars yet</p>

        <!-- Display a card with information about each car (if any)-->
    {% endif %}

    <section id="catalogue">
        <h1>Total cars: {{ cars.count }}</h1>

        <!-- first car-->
        {% for car in cars %}
            <div class="car-card">
                <div class="image-wrap">
                    <!-- car image -->
                    <img src="{{ car.image_url }}"
                         alt="Rally"
                    />
                </div>
                <!-- car type -->
                <h3>{{ car.type }}</h3>
                <!-- car model -->
                <h1>{{ car.model }}</h1>
                <div class="details-buttons">
                    <!-- car details button -->
                    <a href="{% url 'details-car' car.pk %}" class="details-btn">Details</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>

{% endblock %}
